
.product-text {
  text-align: center;
  padding: 50px;
}

.booking-btn {
  margin-top: 150px;
  float: right;
}

.description {
  float:left;
}

.spacing {
  margin: 30px;
}

.title{
  font-weight: bold;
}
