

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="<%= image_path("test_img.jpg") %>" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Product name</h4>
    <h5 class="card-subtitle">Category comes here</h5>
    <p class="card-text">Here comes the description... Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="card-bottom">
      <a href="#" class="btn btn-primary">Book product</a>
      <h3>100$</h3>
    </div>
  </div>
</div>
