
  <div class="card-category">
    <div class="card-trip">
      <%= image_tag "testproduct.jpg", :size => "300x300" %>
      <div class="trip-infos">
        <div class="trip-description">
          <img id="avatar" src="<%= image_path("img_avatar.png")%>" alt="">
          <h2>Title here</h2>
          <h3>Short description here</h3>
        </div>
        <div class="trip-price">
          <h2>100€</h2>
        </div>
      </div>
    </div>
  </div>
