<div class="footer mt-5">
  <div class="footer-links text-center">
    <a href="#"><i class="fab fa-github px-1"></i></a>
    <a href="#"><i class="fab fa-instagram px-1"></i></a>
    <a href="#"><i class="fab fa-facebook px-1"></i></a>
    <a href="#"><i class="fab fa-twitter px-1"></i></a>
    <a href="#"><i class="fab fa-linkedin px-1"></i></a>
  </div>
<div class="mt-2">
  <div class="footer-copyright text-center">
    We code for you with <i class="fas fa-heart"></i> your Rentall team
  </div>
</div>
</div>
