<div class="card-product">
  <img src="https://loremflickr.com/320/240/<%=product.category%>" />
  <div class="card-product-infos" class="d-flex justify-content-between">
    <h2> <%= product.title %> </h2>
    <h5> <%= product.description %> </h5>
    <div class="btn-orange">
      <%= link_to "Show Product", product %>
    </div>
  </div>
</div>
