
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner.jpg") %>);">
  <div class="container">
    <div id="banner">
      <h1><strong>RentAll</strong></h1>
        <h2 id="title-line">Find and  rent in your area</h2>
    </div>
  </div>
  <div class="d-flex justify-content-center"> <%# Removed class mx %>
    <div class="mt-5">
      <%= link_to "Show all products", products_path, {:class => "btn-orange"} %> <%# need to be fixed in css with own ID %>
    </div>
  </div>
</div>
<div class="container">
  <%= render "shared/search" %>
  <div class="mt-5">
    <h3 class="subtitle">Recomended products</h3>
      <div class="card-grid">
        <% @products.first(8).each do |product| %>
          <%= render(partial: "shared/card", locals: { product: product }) %>
        <% end %>
      </div>
  </div>
</div>
