
<div class="container">
  <div class="title">
    <h2>Find and</h2>
    <h2 id="title-line">rent in</h2>
    <h2>your area</h2>
  </div>
  <%= render "shared/search" %>
  <h3 class="subtitle">Products here</h3>
  <div class="card-grid">
    <%= @products.first(12).each do |product| %>
    <%= render(partial: "shared/card", locals: { product: product }) %>
    <% end %>
  </div>
</div>
