.card {
  font-family: sans-serif;
  margin: 30px 0px 0px;
  border-radius: 10px;
  width: 300px;
  transition: 0.3s;
  &:hover {
    opacity: 0.9;
  }
}

.btn {
  border-radius: 10px;
  justify-content: center;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.card-tile {
  font-size: large;
  font-weight: bolder;
}

.card-img-top {
  object-fit: cover;
  height: 25vh;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}
