.card {
  font-family: sans-serif;
  margin: 30px 0px 0px;
  border-radius: 5px;
  width: 300px;
  height: 480px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-tile {
  font-size: large;
  font-weight: bolder;
}

.card-img-top {
  background-size: contain;
  object-fit: cover;
  height: 25vh;
  transition: 0.3s;

  &:hover {
    opacity: 0.9;
  }
}

// .card-bottom {
//   display: flex;
//   justify-content: space-between;
// }

.card-img {
  position: relative;
}


// STYLE FOR THE BOOKMARK
// .bookmark {
//   position: absolute;
//   color: white;
//   top: 15px;
//   right: 15px;
//   font-size: 20px;
//   font-weight: bolder;

//   &:action {
//     color: blue;
//   }
// }
