.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 20px;
  padding-right: 20px
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

#add-header a {
  font-size: medium;
  text-decoration: none;
  font-family: sans-serif;
  color: orange;
  margin-right: 10px;
  font-size: larger;
  font-weight: bolder;
}
